body > div, body > div > * {
	display: -webkit-flex;
	display: flex;
}
body {
	flex-direction: column;
}
body > div {
	flex-direction: row;
	justify-content: space-around;
}
#winddirection {
	font-size: 2em;
}