body > div, body > div > * {
	display: -webkit-flex;
	display: flex;
}
body {
	flex-direction: column;
	font: 1em/1.5 Arial, sans-serif;
}
body > div {
	flex-direction: row;
	justify-content: space-around;
}
#winddirection {
	font-size: 2em;
}
button {
	background: hsl(230, 77%, 35%);
	border: 0;
	border-radius: 2px;
	color: #FFF;
	padding: 0.5em 1em;
	transition: background .2s;
}
button:hover, button:active {
	background: hsl(230, 77%, 50%);
}